<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<div id="<%= dom_id movie %>">

  <p>
    <strong>Name of the Movie:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Description of the Movie:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Director of the Movie:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Language of the Movie:</strong>
    <%= movie.language %>
  </p>

</div>
